body {
    background-color: #fff;

}

/* 内容盒子 */
.main {

    /* height: 1000px; */
    background-color: #2177b832;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
}

/* 左边导航 */
.leftNav {
    height: 100%;
    width: 300px;
    border-radius: 15px;
    /* background-color: pink; */
}

.leftNav ul {
    list-style: none;

}

.leftNav ul li {
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    height: 80px;
    width: 100%;
    background-color: #f6f6f6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* 左边盒子 */
.leftNav ul li .leftNavL {
    height: 60px;
    width: 70px;
    background-color: #11659a;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border-radius: 15px;
}

/* 右边盒子 */
.leftNav ul li .leftNavR {
    height: 60px;
    width: 200px;
    background-color: #2474b537;
    padding: 5px;
    color: #000;
    text-align: center;
    border-radius: 15px;
}

/* 内容盒子 */
.content {
    height: 100%;
    width: 870px;
    /* background-color: red; */
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
}

.content .content_1 {
    height: auto;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}

.content .content_1 h2 {
    font-size: 30px;
}

.content .content_2 {
    margin-top: 20px;
    border-top: 1px solid black;
    height: 430px;
    text-align: center;
}

.content .content_2 h2 {
    font-size: 30px;
}

/* 每日新闻 */
.introduceCard {
    float:left;
    height: 130px;
    width: 300px;
    /* background-color: pink; */
    border-radius: 15px;
    border: 1px solid #11659a;
    background-color: #11659a47;
    padding: 15px;
    font-size: 16px;
    /* color: #000; */
    margin-left: 70px;
    margin-top: 10px;
}

.introduceCard a {
    color: #000;
}

.introduceCard a:hover {
    color: #11659a;
}

/* Cardimg */
.introduceCard .Cardimg {
    float: left;
    height: 100px;
    width: 150px;
    overflow: hidden;
    border-radius: 15px;
    /* margin-top: 5px; */
    margin-right: 10px;
}

.introduceCard .Cardimg img {
    height: 100px;
}